/* Course CSS */
#courseContainer {
  width: 80%;
  margin: auto;
}

.card-delete {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 15px 10px 15px;
  font-size: 18px;
  border-radius: 5px;
}

.card-section {
  display: flex;
  justify-content: space-between;
}
